#function-list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
}


#content {
    position: relative;
    margin-left: 15%;

    .toolbar {
        position: absolute;
    }
}

#function-edit-container {
    padding-top: 70px; 
}